/* ========================================
 * CSS written here will override Tachyons
 * ======================================== */


.body {
  background-color: #FFF9F9;
}
 .wrapper {
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-gap: 20px;
   place-items: center;
   padding-top: 50px;
   font-family: 'Karla', sans-serif;
   background-color: #FFF9F9;

 }

 .wrapper_with_photo {
   padding-top: 50px;
   font-family: 'Karla', sans-serif;
   background-color: #FFF9F9;
   /* grid-column: 3/3; */

 }



 @media (max-width: 650px) {
   .wrapper {
     display: block;
     grid-template-columns: 1fr;
     margin: 0 auto;
    }
    .photo {
      max-width: 1fr;
    }
 }

/* change selected text color */
::-moz-selection { background: #FFE0EB; }
::selection {background: #FFE0EB;}

 .content1 {
   position: relative;
   z-index: 10
 }



a:link {
  color: lightpink;
}

a:visited {
  color: #899fde;
}

a.active {
  color: lightgrey;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f9fcff;
  color: lightpink;
  text-align:center;
  font-family: 'Karla', sans-serif;

}

.Link-name:hover {
  text-decoration: underline;
}

.section-title:hover {
  text-decoration: underline;
}



.container-intro {
   font-family: 'Karla', sans-serif;
   display: grid;
   grid-template-columns: 0.5fr  2fr 2fr  0.5fr;
   grid-gap: 20px;
}

.intro-card {
  grid-column: 2/3;
}

.headline {
  text-decoration: underline;
}

.project-banner-image {
  grid-column: 3/4;
}

.body-intro {
   font-family: 'Karla', sans-serif;
   display: grid;
}

/* .long-body-copy {
  grid-column: 2/4;
} */



.photo {
  grid-column: 3/4;
  align-self: start;
  background-color: yellow;
}

 .color-test {
   width: 250px;
   height: 250px;
   border-radius: 80%;
   background-image: linear-gradient(4deg, red, hotpink, white, blue);
   /* background-image: linear-gradient(9deg, #00C9C8, #BFFCF9, #CBCCFF, #00AAA9); */
   position: absolute;
   z-index: 1;
   left: 50%;
   top: 50%;
   transform: translate3d(-50%, -50%, 0);
   -webkit-filter: blur(110px);
   transition: filter .1s ease, width .1s ease, height .1s ease;
   background-color: #FFF9F9;
 }

 .not-blurred {
   width: 2px;
   height: 2px;
   -webkit-filter: blur(0);
   background: #BFFCF9;
 }
